<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../../css/Signup.css">
    <link rel="icon" href="../photos/logo.ico" type="image/x-icon">
</head>
<body>