<%- include('partials/engineerheader') %>

<div class="wrapper">
  <header>
    <nav>
      <div class="logo"><a href="/" style="text-decoration: none; color: aliceblue;">GradeGear</a></div>
      <ul class="nav-items">
        <li><a href="/">Home</a></li>
          <li><a href="#team">Contact</a></li>
          <li><a href="/reservation" role="button">Reservation</a></li>
      </ul>
    </nav>
  </header>

  <section class="banner-text">
    <div class="single-banner">
      <h1>Welcome to GradeGear</h1>
      <h2>Meet our talented engineering team</h2>
      <a href="#team" class="cta-button">Explore Team</a>
    </div>
  </section>

  <div id="team" class="grid">
    <a href="/eng.fawzy" role="button" class="container">
      <img src="../photos/fawzy.jpg" class="profile-pic" alt="Mohamed's Photo" />
      <h4>Mohamed Fawzy</h4>
      <p class="short">AI/ML Specialist</p>
      <div class="details">
        <p>Proactive FullStack/AI Engineer with a strong background</p>
        <p class="contact-info">mohamedfawzy@gmail.com</p>
      </div>
    </a>

    <a href="/eng.Omar" role="button" class="container">
      <img src="../photos/omarwassim.jpg" class="profile-pic" alt="Wassim's Photo" />
      <h4>Omar Wassim</h4>
      <p class="short">Cybersecurity Expert</p>
      <div class="details">
        <p>3 years of penetration and building websites</p>
        <p class="contact-info">omarwassim05@gmail.com</p>
      </div>
    </a>

    <a href="/eng.Yasser" role="button" class="container">
      <img src="../photos/yasser.jpg" class="profile-pic" alt="Yasser's Photo" />
      <h4>Yasser Yasser</h4>
      <p class="short">Full-stack Developer</p>
      <div class="details">
        <p>Experienced in React, Node.js, MySQL DB.</p>
        <p class="contact-info">yasserlashin12@gmail.com</p>
      </div>
    </a>

    <a href="/eng.Michael" role="button" class="container">
      <img src="../photos/michael.jpg" class="profile-pic" alt="Mike's Photo" />
      <h4>Michael Akram</h4>
      <p class="short">AI/ML Specialist</p>
      <div class="details">
        <p>Proactive FullStack/AI Engineer with a strong background</p>
        <p class="contact-info">akrammichael10@gmail.com</p>
      </div>
    </a>

    <a href="/eng.Youssef" role="button" class="container">
      <img src="../photos/Yousef basem.jpg" class="profile-pic" alt="Bassim's Photo" />
      <h4>Yousef Basem</h4>
      <p class="short">Embedded systems engineer</p>
      <div class="details">
        <p>Expert in AVR microcontroller and C language</p>
        <p class="contact-info">youssefbasem1@gmail.com</p>
      </div>
    </a>

    <a href="/eng.Eyad" role="button" class="container">
      <img src="../photos/eyad.png" class="profile-pic" alt="Eyad's Photo" />
      <h4>Eyad Ahmed</h4>
      <p class="short">Embedded systems engineer</p>
      <div class="details">
        <p>Expert in AVR microcontroller and C language</p>
        <p class="contact-info">eyadrezk423@gmail.com</p>
      </div>
    </a>
  </div>

  <footer id="contact">
    <div class="copyright">
      <p>&copy; 2023 GradeGear. All rights reserved.</p>
    </div>
  </footer>
</div>
<%- include('partials/footer') %>
