<%- include('partials/omarheader') %>
<div class="wrapper">
  <header>
    <nav>
      <ul class="nav-items">
        <li><a href="#Home">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#Engineer">Engineer</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="main-content">
  <div class="image-container">
    <img
      src="../photos/omarwassim.jpg"
      alt="Circular Image"
      class="circular-image"
    />
    <h1 id="name">
      Omar <span style="color: wheat" class="OMAR">Wassim</span>
    </h1>
  </div>

  <div class="cv-content">
    <h2>About Me</h2>
    <p>
      Intelligent system engineer student , Dynamic Problem Solving Instructor
      and Scouts Team Leader with a proven track record at Instructor in
      Pixels.org, enhancing student problem-solving skills through C++ and
      fostering team growth. Expert in cybersecurity, including ethical hacking,
      and adept at creating positive, collaborative environments. Skilled in
      front-end and back-end development, emphasizing hands-on learning and
      leadership
    </p>
    <h2>Education</h2>
    <ul>
      <li>
        <strong>Intelligent Systems Engineering</strong> - Helwan University
        (2022 – Present)
      </li>
      <li>
        <strong>Secondary Education</strong> - Collège De La Salle (2008 – 2022)
      </li>
    </ul>

    <h2>Skills</h2>
    <ul>
      <li>
        Programming Languages: Problem solver using c++ and javascript , Python
        and PHP and Bash Scripting (Using it in Cyber Security analysis) Java
        (To make games and solve Codeforces problems)
      </li>
      <li>
        Web Development: • Front-End web developer ( HTML, CSS, JavaScript,
        React.js ) , Back-End web developer ( Node.js, Express.js, Rest API )
      </li>
      <li>Databases: PostgreSQL - MongoDB</li>
      <li>
        Cybersecurity: Web Application Pentester , Linux administration junior
        , Virus analysis , Complete A++, CCNA ( Network) , Solving Hacking labs
        (HTB , THM , Portswigger) , Red teaming course (udemy)
      </li>
      <li>
        Embedded systems: Create Proteus schemas , C/C++ language ,
        Interfacing
      </li>
    </ul>

    <h2>Experience</h2>
    <ul>
      <li>
        <strong>Instructor</strong>, Pixels Egypt Org. (October 2024 – Present)
        <ul>
          <li>
            Delivered engaging lessons on C++ problem-solving, enhancing
            students’ logical thinking and coding skills.
          </li>
          <li>
            Fostered a collaborative learning environment by promoting teamwork,
            safety, and best practices.
          </li>
          <li>
            Increased student participation through interactive lectures,
            hands-on assignments, and real-world coding challenges.
          </li>
        </ul>
      </li>
      <li>
        <strong>Scouts Team Leader</strong>
        <ul>
          <li>
            Led a team of scouts, organizing events, fostering collaboration,
            and promoting personal growth.
          </li>
          <li>
            Developed leadership and communication skills while mentoring team
            members to achieve shared goals.
          </li>
        </ul>
      </li>
    </ul>

    <h2>Certifications</h2>
    <ul>
      <li>HCIA Certification (Huawei Certified ICT Associate)</li>
      <li>NTI Trainee Certificate (National Telecom Institute)</li>
      <li>Red teaming course (udemy) </li>
    </ul>
  </div>
</div>


<footer>
 
  <div>
    <a href="https://www.linkedin.com/in/omar-wassim-b34b192ba" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/omarwassim" target="_blank">
      <i class="fab fa-github-alt"></i>
      
    </a>
    <a href="mailto:omarwassim05@gmail.com">
      <i class="fas fa-envelope-open-text"></i>
    </a>
  </div>
</footer>
<%- include('partials/footer') %>
